[gcode_macro HEAT_BED_55]
gcode:
    M140 S55; heatbed and carry on
    #M190 S60 ; Set bed temperature to 60°C and wait
    #G4 P600000 ; Wait 10 minutes (600,000ms) for thermal soak
    M104 S140 ; HEAT HOTEND IT HAS LARGE THERMAL MASS AT THIS TIME