[gcode_macro END_PRINT]
gcode:
    # 1. Fetch your specific variables
    {% set max_layer_z = params.MAX_LAYER_Z|default(0)|float %}
    {% set printable_height = params.PRINTABLE_HEIGHT|default(250)|float %}
    {% set z_offset = params.Z_OFFSET|default(0)|float %}
    {% set travel_speed = (params.TRAVEL_SPEED|default(120)|float) * 0.6 %}

	#{% set travel_speed = params.TRAVEL_SPEED|default(120)|float %}    
    
    # Safely extract the Y value from OrcaSlicer's array format
    #{% set bed_max_y = params.BED_MAX_Y.split(',')[1]|replace(']','')|float if ',' in params.BED_MAX_Y else params.BED_MAX_Y|float %}
	{% set bed_max_y = params.BED_MAX_Y|default(220)|float %}
    
    # 2. First lift
    {% if max_layer_z < printable_height %}
        {% set lift_z = [max_layer_z + 2.0, printable_height]|min %}
        G1 Z{z_offset + lift_z} F600 ; Move print head up
    {% endif %}

    # 3. Present print (Feeds at a safe standard 7200 mm/min / 120 mm/s)
    #G1 X5 Y{bed_max_y * 0.8} F7200 ; present print

    # 2. Present print (Moves Y to 80% of max bed size)
     G1 X5 Y{bed_max_y * 0.8} F{travel_speed * 60} ; present print

    
    # 4. Second conditional lift
    {% if max_layer_z < (printable_height - 10.0) %}
        {% set lift_z2 = [max_layer_z + 70.0, printable_height - 10.0]|min %}
        G1 Z{z_offset + lift_z2} F600 ; Move print head further up
    {% endif %}

    # 5. Third conditional lift
    {% if max_layer_z < (printable_height * 0.6) %}
        G1 Z{printable_height * 0.3} F600 ; Move print head further up
    {% endif %}

    DISABLE_MOTORS                ; <--- Call the macro here to turn off motors

    # Turn off heaters
    
    M140 S0 					; turn off heatbed
    M104 S0 					; turn off temperature
    M107 						; turn off fan

    POWER_OFF_PRINTER 			; TURN OFF PSU

	 M117 Print Complete!






