[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
    # 1. Prime the nozzle slightly, restore original state, and continue
    G91                                      ; Relative movement
    G1 E1.0 F2100                            ; Priming extrude (re-prime the 1mm)
    G90                                      ; Absolute movement
    RESTORE_GCODE_STATE NAME=PAUSE_state MOVE=1 MOVE_SPEED=100
    BASE_RESUME